<!DOCTYPE html>
<html>

<head>
    <title>3</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="" ng-init="
    data.greetings = [
            {hello: 'Hello', world: 'world', language: 'English', visitDate: '2010-10-28'},
            {hello: 'Guten Tag', world: 'Welt', language: 'German', visitDate: '1999-12-31'},
            {hello: 'Hola', world: 'mundo', language: 'Spanish'},
            {hello: 'Bonjour', world: 'monde', language: 'French', visitDate: '2013-08-15T05:14:23'},
            {hello: 'Ciao', world: 'mondo', language: 'Italian', visitDate: '1993-01-29'},
            {hello: 'Konnichiwa', world: 'sekai', language: 'Japanese', visitDate: '2000-01-01'},
            {hello: 'Selam', world: 'dünya', language: 'Turkish', visitDate: '2013-08-15T12:14:23'},
            {hello: 'Namaste', world: 'duniyā', language: 'Hindi', visitDate: '2014-06-17T12:23:07'},
            {hello: 'NuqneH', world: '\'u\'', language: 'Klingon'}
          ]">

<div class="main-panel panel panel-primary">
    <div class="panel-heading">Lesson 3 - Built-in filters (orderBy, reverse, filter), ng-click</div>
    <div class="panel-body">
        <div class="input-div">
            Search:  <input type="text" class="form-control search-input" ng-model="data.search" />
        </div>
        <table border="1" class="table table-striped table-bordered">
            <tr>
                <!-- ng-click:

                From the AngularJS docs (https://docs.angularjs.org/api/ng/directive/ngClick):

                "The ngClick directive allows you to specify custom behavior when an element is clicked."

                -->
                <!-- Pro-tip: Although AngularJS allows you to write JavaScript-like code inline in HTML in directives,
                    you should avoid writing too much code in these directives. Although "too much code" will vary
                    from case to case, here's one good rule of thumb: if you need to use a semi-colon, it's too much.

                    Instead, you should write a custom method and add it to an AngularJS controller (as you'll see, later)
                    that does the work you *would have* written inline. This allows you to keep your HTML/templates
                    *declaritive* and your JavaScript *imperative*.
                -->
                <th ng-click="data.sortColumn = 'hello';data.isReversed = !data.isReversed">Say hello</th>
                <th ng-click="data.sortColumn = 'world';data.isReversed = !data.isReversed">to the world</th>
                <th ng-click="data.sortColumn = 'language';data.isReversed = !data.isReversed">in a language</th>
                <th ng-click="data.sortColumn = 'visitDate';data.isReversed = !data.isReversed">Visited?</th>
            </tr>
            <!-- AngularJS Filters:

                From the AngularJS docs (https://docs.angularjs.org/guide/filter):

                "A filter formats the value of an expression for display to the user. They can be used in view templates,
                controllers or services and it is easy to define your own filter."

            -->
            <!-- AngularJS built-in filters - filter:

                From the AngularJS docs (https://docs.angularjs.org/api/ng/filter/filter):

                "Selects a subset of items from array and returns it as a new array."

            -->
            <!-- AngularJS built-in filters - orderBy:

                From the AngularJS docs (https://docs.angularjs.org/api/ng/filter/orderBy):

                "Orders a specified array by the expression predicate. It is ordered alphabetically
                for strings and numerically for numbers. Note: if you notice numbers are not being
                sorted correctly, make sure they are actually being saved as numbers and not strings."

            -->
            <!-- Pro-tip: Since the orderBy filter sorts based on the *type* of data being sorted, you should
                always architect your data management so that *the same* data type is used for *all* elements
                (or properties of elements) in your data lists. For example, if you have a property in a data list
                that represents dates, don't sometimes store it as a string, sometimes as a Date object, and
                sometimes as a unix-time integer. This is a good rule to follow in general, independent of AngularJS.
            -->
            <!-- Pro-tip: Adding filters using the pipe ("|") syntax in Angular expressions works similar to
                unix-style pipes. That is, the *output* (e.g. value) of the preceding piped expression acts as an
                *input* to the subsequent piped expression. This means order matters for both functionality and
                performance. For example, if you are applying *both* a filter *and* an orderBy to a list of items,
                you should place your filter *before* your sort. Otherwise, you will be potentially sorting many
                items that won't ever get displayed (since they might just get filtered out immediately after
                getting sorted). This is especially relevant for larger lists of data or more involved custom
                sort/format filters.
            -->
            <tr ng-repeat="greeting in data.greetings | filter:data.search | orderBy:data.sortColumn:data.isReversed">
                <td>{{ greeting.hello }}</td>
                <td>{{ greeting.world }}</td>
                <td>{{ greeting.language }}</td>
                <!-- AngularJS built-in filters - date:

                    From the AngularJS docs (https://docs.angularjs.org/api/ng/filter/date):

                    "Formats date to a string based on the requested format."

                -->
                <td>{{ greeting.visitDate | date:'MMM d, y' }}</td>
            </tr>
        </table>
    </div>
</div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
</body>

</html>