/* Styles go here */
body{
    padding: 10px;
}

.main-panel{
    width: 640px;
}

.input-div{
    padding-bottom: 15px;
}

.search-input{
    display: inline-block;
    height: 25px;
    width: 200px;
}