/* Styles go here */

body{
    padding: 10px;
}

.main-panel{
    width: 640px;   
}

.input-div{
    padding-bottom: 15px;
}

.search-input{
    display: inline-block;
    height: 25px;
    width: 200px;   
}

.no-select{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-input{
    height: 25px;
}

.table-btn{
    height: 26px;
    width: 30px;
    padding-top: 3px;
}
